/*Custom CSS: Physician Portal*/

:root {
  --primary-theme: #32648b; /*#8ac441*/
  --primary-theme-hover: #265a83; /*#7eaf41*/
  --info-theme: #426e91; /*#9bcc5d*/
  --info-theme-hover: #376284; /*#8ed139*/
  --primary-light: #b7c7d3; /*#e1ebd5*/
  --primary-light-hover: #9ebcd4; /*#e1ebd5*/
  --yellow-theme: #ea963b;
  --yellow-theme-hover: #f69122;
  --orange-theme: #f0592e;
  --orange-theme-hover: #e1532a;

  --secondary: #6c757d;
  --secondary-1: #808080;
  --secondary-2: #989898;
  --success: #3ac47d;
  --warning: #f7b924;
  --danger: #d92550;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --light: #dcdcdc;
  --ultra-light: #e9ecef;
  --dark: #343a40;
  --focus: #444054;

  --primary: #3f6ad8;
  --info: #16aaff;
  --alternate: #794c8a;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}
.mb-10p { margin-bottom: 10px !important; }
.mb-15p { margin-bottom: 15px !important; }
.pl-15p { padding-left: 15px !important }
.pr-15p { padding-right: 15px !important }
.px-15p { padding-left: 15px !important; padding-right: 15px !important }
.content { height: 100% }
.content-col { margin-bottom: 15px; }
.bg-signup .app-logo-login { width: 105px; }
.app-page-title { margin: -15px -15px 30px; padding: 15px !important }
.app-sidebar .app-sidebar__inner { padding: 15px 8px; }
.app-header__logo .logo-src { height: 33px; width: 70px; background-size: 68px auto; background-repeat: no-repeat; }
.chat-layout .form-control-lg { font-size: 1rem; }
.vertical-nav-menu li.mm-active > a { background: var(--primary-light); color: var(--primary-theme); }
.vertical-nav-menu li.mm-active > a .metismenu-icon { opacity: 1; }
.fixed-sidebar .app-main .app-main__outer { padding-left: 95px; max-width: 100%; }
.closed-sidebar.fixed-sidebar .app-main .app-main__outer { padding-left: 60px; }
.app-header__logo { width: 135px; padding-right: 0 }
.wrap-right.search-wrapper.active .input-holder { float: right; }
.search-wrapper.active .close { right: 260px; left: auto; }
.header-megamenu .nav-item { margin: 0 5px; }
.header-megamenu .item-badge .badge.badge-pill { position: absolute; right: 5px; top: -3px; padding: 0 5px !important; line-height: 15px; }
.header-megamenu.nav > li > .nav-link { position: relative; }
.header-megamenu.nav > li.active > .nav-link::after, .header-megamenu.nav > li:hover > .nav-link::after { height: 2px; content: ''; background: var(--primary-theme); width: calc(100% - 10px); bottom: 0; left: 5px; right: 5px; position: absolute; }
.app-wrapper-footer { position: fixed; bottom: 0; right: 0; left: 0; display: flex; flex-direction: column; }
.box-banner .app-inner-layout__header { padding: 0 1.25rem 8px; }
.box-banner .title-subhead { margin: -5px 0 10px; font-size: 9px; padding: 0 6px; line-height: 14px; background-image: linear-gradient(to left, var(--primary-light-hover), var(--primary-theme-hover)); border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; text-transform: uppercase; font-weight: 600; letter-spacing: 0.3px; width: calc(100% + 10px); color: #fff;}
.box-banner .page-title-icon { margin: 10px 0 0 0; padding: 0 !important; }
.box-banner .page-title-subheading { opacity: 1; font-size: calc(12px - 10%); line-height: 20px; font-weight: 600; padding: 0; }
.box-banner .pdetail-group { margin: 0 10px; height: 60px; padding: 0 8px !important; }
.box-banner .p-name { font-size: 15px; font-weight: 700; }
.box-banner .p-mrno { font-weight: 400; font-size: 85%; }
.box-banner .pdetail-group label { margin: 0 5px 0 0; font-weight: 700; }
.box-banner .pdetail-group.sep { position: relative; }
.box-banner .widget-content { padding: 1rem 0; position: relative; }
.box-banner .page-title-heading { width: 100%; justify-content: space-evenly; }
.box-banner .widget-content .widget-heading, .box-banner .widget-content .widget-subheading { opacity: 1; font-size: 0.8rem; }
.chartbox-grid .widget-chart { padding: 30px 15px; }
.table-datatable .table th { padding: 5px; }
.table-responsive .table td { padding: 0px 5px; /*min-width: 65px;*/ }
.table-datatable .table td { padding: 5px; /*min-width: 65px;*/ }
.table-responsive .badge, .table-datatable .badge { opacity: 0.75; color: var(--white); padding: 2px 5px; line-height: 10px; font-size: 9px; }
.table-responsive .badge.muted, .table-datatable .badge.muted { border:0; padding: 0.25em 0; font-size: 9px; opacity: 0.65; }
.table-datatable .td-action .btn { font-size: 20px; padding: 0 5px; opacity: 1; }
.table-datatable .td-action .btn.btn-small { font-size: 0.8rem; padding: .25rem .5rem; }
.table-datatable td { /*padding-bottom: 0;*/ }
.form-group .select2-container--bootstrap4 .select2-selection--single { height: calc(1.8125rem + 2px); padding: 0.25rem 0.5rem; line-height: 1.5; }
/*Timeline*/
.card-timeline .toggle-group .btn { font-size: 0; }
.vertical-timeline-style-1 .vertical-timeline-element { margin-bottom: 25px; }
.vertical-timeline-style-1 .vertical-timeline-element-date { display: block; position: unset; padding: 0px; text-align: left; color: #adb5bd; font-size: 0.7619rem; white-space: nowrap; }
.vertical-timeline-milestone.vertical-timeline-element { height: 65px; margin: 0; }
.vertical-timeline-milestone .vertical-timeline-element-icon { width: 65px; height: 65px; left: -15px; top: -30px; }
.vertical-timeline-milestone .vertical-timeline-element-icon .timeline-icon { width: 65px; height: 65px; }
.vertical-timeline-milestone .vertical-timeline-element-icon .timeline-icon span { font-size: 11px; font-size-adjust: 0.45; width: 100%; text-align: center; font-weight: 600; line-height: 15px; }
.vertical-timeline-milestone .vertical-timeline-element-icon .timeline-icon span small { width: 100%; float: left; }
.tab-timeline .btn-group { width: 100%; float: right; max-width: 375px; }
.tab-timeline-content { display: block; float: left; width: 100%; padding: 0 0 30px; }
.filtered-pills .btn-pill { font-size: 11px; font-style: italic; opacity: 0.65; font-weight: 600; padding: 1px 6px; }
.filtered-pills { position: relative; display: inline-flex; vertical-align: middle; }
.check-item { padding: 0.4rem 1.25rem; }
.check-item .custom-control { margin-bottom: 5px; }
.check-item .custom-control-label { font-weight: normal; text-transform: capitalize; color: var(--dark); }
/*Assessment*/
.ma-status { font-size: 0.65rem; width: 20px !important; height: 20px; line-height: 18px; text-align: center; display: block; float: left; margin: 0 5px 0 0; border-radius: 50%; opacity: 0.5; }
.ma-status.status-open { color: var(--danger); border: 1px solid var(--danger); }
.ma-status.status-closed { color: var(--secondary); border: 1px solid var(--secondary); }
.card.card-level-1 { box-shadow: none; border: 0; }
.card-level-1 .card-header { border: 0; padding: 0 10px; }
.card-level-1 .card-header h4 { margin-bottom: 0.75rem; }
.card-level-1 > .card-body { padding: 0.5rem 10px; }
.card-header-subtitle { text-transform: none; letter-spacing: -0.1px; }
.card-level-2 { margin-bottom: 15px; }
.card-level-2 .card-title { color: var(--dark); text-transform: capitalize; } 
.card-level-2 textarea { font-size: 0.8rem; }
.card-level-2 .form-group label { font-weight: 600; color: var(--dark); font-size: 12px; margin-top: 8px; }
.td-name .avatar-icon { width: 40px; height: 40px; }
.td-name .avatar-icon-wrapper .badge-dot.badge-dot-lg { width: 10px; height: 10px; right: 2px; padding: 0; }
.pbanner-capsule { width: 80px; position: fixed; top: 60px; border-radius: 6px; border: 1px solid transparent; z-index: 1; padding: 5px; display: none; }
.pbanner-capsule.active, .pbanner-static.active { display: block; }
.pbanner-static { display: none; }
.pbanner-capsule .page-title-icon { text-align: center; }
.pbanner-capsule .page-title-icon img { width: 40px; height: 40px; }
.pbanner-capsule .page-title-subheading { font-size: 12px; color: #fff; opacity: 0.85; text-align: center; }
.pbanner-capsule .page-title-subheading .p-mrno { font-size: 11px; }
.pbanner-virtualclinic .app-page-title .page-title-icon { background: transparent; box-shadow: none; width: 45px; height: 60px; }
.pbanner-virtualclinic .p-name { font-size: 13px; font-weight: 700; }
.pbanner-virtualclinic .app-inner-layout__header { padding: 0 1rem 8px; }
.pbanner-virtualclinic .pdetail-group { margin: 0 5px !important; }
.app-virtualclinic .app-page-title { margin: -15px -15px 0px; }
.multiselect-drop .select2.select2-container { margin: 0 0 10px; }
.multiselect-drop .select2-search--inline .select2-search__field { line-height: 18px !important; }
.search-cpoe button { width: 100%; }
.table-hover tbody tr:hover .td-action { background: var(--primary-light); }
.table-responsive .table td.td-action { line-height: 38px; }
.table-responsive .table .td-action { position: absolute; right: 0; /*width: 125px;*/ height: 43px; background: #fff; }
.table-datatable .dataTables_wrapper .col-sm-12, .table-datatable { max-width: 100%; overflow: auto; }
.table-datatable .td-static.sorting, .table-datatable .td-action.sorting { padding-right: 0.55rem !important; }
.table-datatable .td-static.sorting::before, .table-datatable .td-action.sorting::before,
.table-datatable .td-static.sorting::after, .table-datatable .td-action.sorting::after { content: none !important; }
.td-check .custom-control-label { font-size: 0; }
.table-datatable th,.table-datatable td { white-space: nowrap; }
#tb-patients-waiting td, #tb-virtual-assistant td { min-width: 45px; }
.todo-list-wrapper .badge { padding: 4px 5px; }
.app-standalone .app-page-title { padding: 0 !important; }
.app-inner-layout__header.standalone { padding: 0; }
.app-mainpage .app-inner-layout__wrapper {min-height: auto;}
.chat-layout .app-inner-layout__bottom-pane {padding: 10px 15px !important;}
.chat-layout .app-inner-layout__top-pane {box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.02), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.02), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.03), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.02);}
.fc-center h2 { font-size: 24px; }
.table-responsive.order-review { border: 1px solid #e9ecef; border-radius: 0.25rem; }
.table-responsive.order-review thead th { border-bottom: 1px solid #e9ecef; border-top: 0; line-height: 2.4rem; }
.td-action.action-static { position: static !important; text-align: right; }
.td-action.action-static .btn { opacity: 0.45; }
.td-action.action-static .btn:hover { opacity: 1; }
.check-status .btn { opacity: 0.75 !important; }
.check-status .btn:hover { background: none !important; opacity: 1 !important;}
.pending .td-action .btn { color: #ababab; }
.pending .td-action .btn:hover { opacity: 0.45; background: transparent; color: #eee; }
.card-ma-forms .form-group, .card-ma-forms .form-group p { margin-bottom: 0px; }
.card-ma-forms .card .row:last-child [class*="col-"] { margin-bottom: 0 !important; }
.card-aform .page-break { display: none; }
.card-aform .page-break.active { display: block !important; }
.card-aform .card-footer .btn { display: none; }
.card-aform .card-footer .btn.show { display: inline-block !important; }
.table-hover tbody tr.active, .table-hover tbody tr.active .td-action { background-color: var(--primary-light); }
.modal-header, .modal-footer { background: #fff !important; }
.order-review .btn { padding: 0.3rem 0.5rem !important; }
.card-cpoe .custom-control-label { font-weight: 700; padding-left: 0.5rem !important; opacity: 0.85; }
.table-responsive th, .table-responsive td { min-width: 55px; }
.table-responsive td { font-size: 12px; }
.table-responsive .td-action .btn-group .btn { padding: 0rem 0.25rem; line-height: 22px; }
.table-responsive .td-static { min-width: 80px !important; }
.custom-radiobtn { padding: 0; margin: 0; }
.custom-radiobtn .custom-control-label::before, .custom-radiobtn .custom-control-label::after { content: none !important; }
.custom-radiobtn .custom-control-label span { display: none; }
.custom-radiobtn .custom-control-input:checked ~ .custom-control-label span { display: inline-block; }
.custom-radiobtn .custom-control-input:checked ~ .custom-control-label.btn-outline-primary { background-color: var(--primary-theme); color: var(--white); }
.multiselect-drop .select2-selection--multiple .select2-selection__clear { margin: 0; line-height: 24px; }

/*Media Only*/
@media screen and (max-width: 1023px) {
.app-mainpage { margin-bottom: 45px; }
.chat-layout .chat-wrapper {height: calc(100vh - 360px);overflow: auto;}
.box-banner .pdetail-group { margin: 0px 10px 25px 10px; }
.box-banner .page-title-icon { display: inline-block; text-align: left; margin: 5px 0 0; width: 45px !important; height: 45px !important; vertical-align: top; }
.box-banner .page-title-icon img { max-width: 100%; display: inline-block; vertical-align: top; }
.box-banner .page-title-mobile { width: calc(100% - 60px); display: inline-block; text-align: left; padding-left: 15px; margin-top: 5px; vertical-align: top; }
.box-banner .pdetail-group { display: none; }
.app-inner-layout .app-inner-layout__wrapper .app-inner-layout__content .app-inner-layout__top-pane { padding: 0.35rem 1.5rem; }
.vertical-time-icons { margin-top: 30px; }
textarea.form-control-sm { height: auto !important; }
.table-responsive .table th { min-width: 125px; }
.table-responsive td.td-name { min-width: 185px; }
.table-datatable td.td-name { min-width: 200px; }
.table-datatable .td-wd-xs { max-width: 50px; }
.table-datatable .td-wd-sm { max-width: 85px; }
.table-datatable .td-wd-md { max-width: 125px; }
.table-datatable .td-wd-lg { max-width: 155px; }
.table-datatable .td-wd-xl { min-width: 175px; width: auto; }
.card-header-left, .card-header-right, .card-header-right .filter-actions { float: left; width: 100%; }
.card-header-left { padding: 0.75rem 0; }
.card-header-right .filter-actions .filtered-pills { float: left; width: calc(100% - 50px); display: block; }
.card-header-right .filter-actions .filtered-pills a { float: left; width: auto; margin: 0 0.25rem 0.25rem 0 !important; }
.card-header-right .filter-actions .btn-group.dropdown { width: 50px; float: left; }
}
@media screen and (min-width: 1024px) {
.app-sidebar.sidebar-narrow { width: 95px; min-width: 95px; height: 102vh; }
.vertical-timeline-style-1 .timeline-title { display: block; position: absolute; left: -300px; top: 0; padding-right: 15px; text-align: right; width: 250px; padding: 0 15px 0 0; }
.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo { width: 60px; padding: 0; }
.closed-sidebar .app-sidebar.sidebar-narrow { width: 60px; min-width: 60px; flex: 0 0 60px; }
.card-cpoe .card-review, .main-card.card-cpoe > .card-body { height: calc(100vh - 322px); overflow-y: auto; overflow-x: hidden; }
.app-virtualclinic .pbanner-virtualclinic.app-standalone { width: calc(100% - 41.66667% - 65px) !important; }
.closed-sidebar .pbanner-virtualclinic.app-standalone { left: 75px; width: calc(100% - 41.66667% - 55px) !important; }
.app-virtualclinic .app-page-title.standalone { margin-right: 0 !important; width: calc(100% - 95px - 41.66667%) !important; margin-left: calc(58.33333% - 55px) !important; }
.closed-sidebar .ptitle-virtualclinic.standalone { margin-right: 0 !important; width: calc(100% - 95px - 41.66667%) !important; margin-left: calc(58.33333% - 55px) !important; }
.chat-layout .app-inner-layout__sidebar.card { height: calc(100vh - 185px); overflow-y: auto; overflow-x: hidden; }
.sidebar-narrow .vertical-nav-menu li {	border-bottom: 1px solid transparent; border-radius: 0px; }
.sidebar-narrow .vertical-nav-menu li a { line-height: 14px; height: auto; padding: 8px 5px; text-align: center; margin: 0 0 6px; position: relative; }
.sidebar-narrow .vertical-nav-menu li a::after { background: var(--light); height: 1px; width: 80%; left: 10%; bottom: -5px; content: ''; position: absolute; }
.sidebar-narrow .vertical-nav-menu li .menu-title { display: inherit; white-space: pre-wrap; font-size: calc(11px - 5%); margin-top: 2px;}
.sidebar-narrow .vertical-nav-menu li .metismenu-icon { position: static; width: 100%; margin: 0; height: auto; line-height: 24px; }
.box-banner .widget-content::after { position: absolute; content: ''; background: rgba(255,255,255,0.5); top: 15px; height: 50px; width: 1px; right: -20px; }
.box-banner .page-title-heading > div { padding-right: 1.5rem; }
.box-banner .page-title-heading > div:last-child { padding-right: 0; }
.box-banner .page-title-heading > div:first-child { padding-left: 0; }
.box-banner .page-title-heading > div:last-child .widget-content::after { content: none; }
.box-banner .app-inner-layout__header { height: 80px; }
.box-banner .pdetail-group.sep::after { background-color: rgba(255,255,255, 0.25); height: 50px; width: 1px; content: ''; position: absolute; top: 10px; right: -15px; }
.closed-sidebar.fixed-sidebar .app-wrapper-footer { left: 60px; }
.app-wrapper-footer { position: fixed; bottom: 0; right: 0; left: 95px; display: flex; flex-direction: column; z-index: 1; }
.app-main .app-main__inner { padding: 95px 15px 45px; flex: 1; }
.standalone, .app-standalone { height: 80px; position: fixed; top: 45px; width: calc(100% - 95px) !important; left: 95px; z-index: 22; background: #fff !important; margin: 0 !important; box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.02), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.02), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.03), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.02); }
.standalone .page-title-icon { width: 50px; height: 50px; padding: 0; }
.app-mainpage { height: calc(100vh - 185px); overflow-y: auto; overflow-x: hidden; }
.closed-sidebar .standalone, .closed-sidebar .app-standalone { width: calc(100% - 75px) !important; left: 75px !important; }
.card-timeline .card-ma-forms { max-height: calc(100vh - 185px - 130px); overflow-y: auto; overflow-x: hidden; }
.card-timeline .card-timeline-body { max-height: calc(100vh - 185px - 70px); overflow-y: auto; overflow-x: hidden; } /*calc(100vh - 185px - 75px)*/
.chat-layout .chat-wrapper {height: calc(100vh - 185px - 140px);overflow: auto;}
.card-ma-forms [class*="col-"] { padding-left: 0; }
.card-ma-forms [class*="col-"]:first-child { padding-left: 15px; }
.page-title-mobile { display: none; }
.card-header-left, .card-header-right { display: inherit; flex: auto; }
.app-inner-layout__sidebar .nav.flex-column { flex-direction: initial !important; overflow-y: auto; }
}

*{
scrollbar-color: #ddd;
scrollbar-width: thin;
}
*::-webkit-scrollbar {
width:6px;
height:6px;
background-color:#eee;
} 
*::-webkit-scrollbar-track {
border:1px #ddd solid;
border-radius:6px;
-webkit-box-shadow:0 0 2px gray inset;
} 
*::-webkit-scrollbar-thumb {
background-color:#ddd;
border-radius:6px;
}
*::-webkit-scrollbar-thumb:hover {
background-color:#ddd;
border:1px solid #ddd;
}
*::-webkit-scrollbar-thumb:active {
background-color:#ddd;
border:1px solid #ddd;
} 